%tr
  %td= insert_profiler.source
  %td= "#{ insert_profiler.postings_count } postings"
  %td= "#{ insert_profiler.total_time } ms"
  %td= "#{ insert_profiler.filter } ms"
  %td= "#{ insert_profiler.insert } ms"
  %td= "#{ insert_profiler.render } ms"
  %td= "#{ insert_profiler.overhead } ms"
  %td= insert_profiler.average_per_posting
  %td= insert_profiler.postings
  %td= insert_profiler.overhead
  %td= insert_profiler.created_at