!!!
%html
  %head
    %title 3taps Backoffice

    = stylesheet_link_tag "admin_application", media: "all"
    = stylesheet_link_tag "admin/statistic"

    = javascript_include_tag "admin_application"
    = javascript_include_tag "statistic"

    = csrf_meta_tags
  %body
    .container
      = bootstrap_flash
      = render_breadcrumbs
      = yield
